html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
#__next {
	height: 100%;
	display: flex;
	flex-direction: column;
}
header,
footer {
	background-color: cadetblue;
	color: blue;
	padding: 50px;
	text-align: center;
}
main {
	background-color: bisque;
	color: brown;
	padding: 50px;
	text-align: center;
	flex: 1;
}
